*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #210002;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.campo{
  color: #ffaf00;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
}

.head-1{
  background-color: black;
  transition: 0.5s;
  cursor: pointer;
  padding: 4px 10px 8px 10px;
}

.head-1:hover{
  background-color: #5a1715;
}

.head-2{
  display: flex;
}

.fire{
  color: #ffaf00;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 5px;
}

.head-3{
  padding: 4px 10px 8px 10px;
  background-color: #a34300;
  display: flex;
  align-items: center;
}

.blog{
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  color: #ffaf00;
  font-size: 15px;
  font-weight: 800;
  transition: 0.5s;
  letter-spacing: 1px;
}

.review{
  font-family: "Roboto", sans-serif;
  color: #ffaf00;
  font-size: 15px;
  font-weight: 800;
  transition: 0.5s;
  letter-spacing: 1px;
}

.head-4{
  background-color: black;
  padding: 4px 10px 8px 10px;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.head-4:hover{
  background-color: #5a1715;
}

.head-5{
  background-color: black;
  padding: 4px 4px 4px 2px;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.head-5:hover{
  background-color: #5a1715;
}

.right-1{
  background-image: url(assets/keyart-mobile.jpg);
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;
}

.right-2{
  background-image: url(assets/parallax7.png);
  height: 500px;
  background-size: cover;
  background-position: 0px 5px;
  background-repeat: no-repeat;
}

.left-1{
  background: #210002;
  margin-top: 85px;
  display: flex;
  justify-content: center;
}

.now{
  color: #ffaf00;
  letter-spacing: 4px;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
}

.dollar{
  font-size: 38px;
  font-weight: 500;
}

.left-2{
  display: flex;
  margin-inline: auto;
  gap: 70px;
}

.left-3{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 45px;
}

.left-4{
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.left-box-1{
  background-color: #ffaf00;
  display: flex;
  padding: 8px 20px 4px 20px;
  gap: 10px;
  justify-content: center;
  width: 350px;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.left-box-1:hover{
  background: white;
}

.left-box-1 img{
  height: 20px;
}

.left-text-1{
  font-size: 20px;
}

.left-box-2{
  background-color: #ffaf00;
  width: 350px;
  display: flex;
  padding: 8px 20px 4px 20px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.left-box-2:hover{
  background: white;
}

.left-box-2 img{
  height: 20px;
}

.left-text-2{
  font-size: 20px;
}

.left-box-3{
  background-color: #ffaf00;
  display: flex;
  padding: 8px 20px 4px 20px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 350px;
  transition: 0.5s;
  cursor: pointer;
}

.left-box-3:hover{
  background: white;
}

.left-box-3 img{
  height: 20px;
}

.left-text-3{
  font-size: 20px;
}

.left-box-4{
  background-color: #ffaf00;
  display: flex;
  padding: 8px 20px 4px 20px;
  width: 350px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}

.left-box-4:hover{
  background-color: white;
}

.left-box-4 img{
  height: 20px;
}

.left-text-4{
  font-size: 20px;
}

.video-game{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.video{
  width: 1000px;
  height: 500px;
}

.video-game-2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
  margin-inline: auto;
}

.para-1{
  font-size: 30px;
  color: #ffaf00;
  width: 740px;
  font-weight: 500;
  line-height: 45px;
}

.video-game-3{
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 40px;
  
}

.game-4{
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.game-5{
  display: flex;
  gap: 45px;
  flex-direction: column;
}

.game-p-1{
  font-size: 22px;
  color: #ffaf00;
  width: 180px;
}

.game-p-2{
  font-size: 22px;
  line-height: 28px;
  color: #ffaf00;
  width: 320px;
}

.game-p-3{
  font-size: 22px;
  color: #ffaf00;
  line-height: 28px;
  width: 300px;
}

.game-p-4{
  line-height: 28px;
  font-size: 22px;
  color: #ffaf00;
  width: 320px;
}

.game-p-5{
  line-height: 28px;
  font-size: 22px;
  color: #ffaf00;
  width: 340px;
}

.game-buttons{
  display: flex;
  justify-content: center;
  margin-top: 45px;
  gap: 80px;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 15px solid #973700;
	border-bottom: 15px solid transparent;
  position: absolute;
  left: 91%;
  /* rotate: 180deg; */
  z-index: 2;
}

.boxx{
  z-index: 0;
  left: 94%;
  width: 22px;
  position: absolute;
  height: 27px;
  background-color: #210002;
}

.game-btn-1{
  background-color: #973700;
  display: flex;
  padding: 0px 10px 0px 10px;
  width: 350px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
  height: 28px;
}

.game-btn-1:hover{
  background-color: #ffaf00;
}

.screen{
  font-size: 22px;
}

.game-btn-2{
  background-color: #973700;
  display: flex;
  padding: 0px 10px 0px 10px;
  width: 350px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
  height: 28px;
}

.game-btn-2:hover{
  background-color: #ffaf00;
}

.faq{
  font-size: 22px;
}

.game-img{
  display: flex;
  margin-top: 45px;
  margin-inline: auto;
  flex-direction: column;
}

.two{
  display: flex;
  gap: 70px;
}

.four{
  display: flex;
  gap: 70px;
  margin-top: 40px;
}

.width{
  width: 500px;
  transition: 0.5s;
  cursor: pointer;
  height: auto;
}

.width:hover{
  color: #fff;
}

.visual{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vis{
  color: #ffaf00;
  font-weight: 500;
  font-size: 50px;
  width: 650px;
  margin-top: 80px;
  text-transform: uppercase;
}

.para-week{
  color: #963700;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-top: 20px;
}

.tech{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 70px;
}

.tech-img{
  width: 80px;
}

.tech-button-1{
  background-color: #973700;
  width: 380px;
  text-align: center;
  padding: 3px;
  font-size: 20px;
  color: #210002;
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
}

.tech-button-1:hover{
  background-color: #ffaf00;
}

.tech-button-2{
  background-color: #973700;
  width: 380px;
  text-align: center;
  padding: 3px;
  font-size: 20px;
  color: #210002;
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
}

.tech-button-2:hover{
  background-color: #ffaf00;
}

.chines{
  text-align: center;
  margin-top: 30px;
  color: #ffaf00;
  letter-spacing: 8px;
  transition: 0.5s;
  cursor: pointer;
}

.chines:hover{
  color: #fff;
}

.last-p{
  display: flex;
  justify-content: center;
}

.last-para{
  margin-top: 50px;
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
  color: #963700;
  width: 500px;
  text-align: center;
}

.footer{
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 80px;
  justify-content: center;
  margin-bottom: 80px;
}

.foot-img-1{
  background-color: #973700;
  width: 130px;
  transition: 0.5s;
  cursor: pointer;
}

.foot-img-1:hover{
  background-color: #ffaf00;
}

.foot-img-2{
  background-color: #973700;
  width: 75px;
  transition: 0.5s;
  cursor: pointer;
}

.foot-img-2:hover{
  background-color: #ffaf00;
}